/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  	.dropdown-menu{
  		left:-136px;
  	}
  	.navbar-toggle{
		border: 1px solid #000;
		height: 30px;
		line-height: 30px;
		
	}
	.navbar-toggle span{
		top:-8px;
	}
	#navbar{
		z-index: 9999;
		background-color: #f7f5f4;
		text-align: center;
	}
	
	.menu-bottom-header ul li{
		display: block;
		padding-left: 15px;
	}	

	.menu-bottom-header ul{
	margin-right: 0px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.btn-menu{
		text-align: center;
	}
	
.menu-bottom-header ul{
	margin-right: 80px;
}
.art-content{
	padding-right: 0;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.btn-menu,.footer_top{
		text-align: center;
	}
	.navbar-toggle{
		border: 1px solid #000;
		height: 30px;
		line-height: 30px;
		
	}
	.navbar-toggle span{
		top:-8px;
	}
	#navbar{
		z-index: 9999;
		background-color: #f7f5f4;
		text-align: center;
	}
	
	.menu-bottom-header ul li{
		display: block;
		padding-left: 15px;
	}	

	.menu-bottom-header ul{
	margin-right: 0px;
}
	
	a.btn-registr{
		width: 90px;
	}
	a.btn-registr:after{
		width: 100px;
	}
	.h-nav-lng{
		padding-left:30px; 
	}

	#footer nav{
		display: none;

	}
	.footer_bottom img{
		padding-top: 0px;
	    padding-bottom: 0px;
	    margin-left: 0px;
	}
	.footer_bottom a{
		margin-left:0;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


 a.btn-registr{
		width: 70px;
	}
	a.btn-registr:after{
		width: 80px;
	}
}


